.application-title {
  animation: application-title-spin infinite 6s ease;
  animation-delay: 3s;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.external-link {
  color: gainsboro;
  font-size: large;
}

.App-origin {
  color: silver;
  margin: 10px;
}

.content {
  color: white;
}


.App-content {
  height: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.App-intro {
  font-size: large;
}

@keyframes application-title-spin {
  from { 
    transform: rotateX(0deg)
  }
  to { 
    transform: rotateX(360deg)
  }
}
