body {
  background-image: url('../resources/app-background.jpg');
  opacity: 0.94;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
